page-cadastro-aposta {
    .cadNumeros li{
        display: inline-block;
        margin: 0 8px 8px 0;   
        font-size: 1.9rem;
        font-family: futuraBold;
        color: #fff;
        background: #adc0c4;
        border-radius: 35px;
        width: 47px;
        height: 47px;
        padding: 12px 0;
        text-align: center;

        }

        ul li.vermelho{
          color: white;
            background: green;
        }
        ul li.preto{
          color: white;
        }
      
      #numeroString{
        font-size: 30px;
        text-align: center;
      }

        ul li :hover{
   
            color: white;
            background: green;
            text-decoration: none;
        }

       
}

