
<ion-list *ngFor="let aposta of apostas" (click)="abrirModal(aposta)">
<ion-card>
    <ion-card-header>
      Apostador:  {{aposta.apostador.nome}}
    </ion-card-header>
  <hr>
    <ion-card-content>
        <h3>Numeros Apostados</h3>
        <div class="numeros">
          <ul>   
            <li *ngFor="let numeros of aposta.numero_apostado">{{numeros}}</li> 
          </ul>
        </div> 
        <hr>
        <h3>Numeros Acertados</h3>
        <div class="numeros acertados">
          <ul> 
            <li *ngFor="let numeros of aposta.numeros_acertados">{{numeros}}</li> 
          </ul>
        </div> 
        <hr>
        <h4>Total de Acertos: {{aposta.acertos}}</h4>
    </ion-card-content>
  
  </ion-card>
</ion-list>
