<ion-header>

  <ion-navbar>
    <ion-title>Apostas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="page-apostas">
    <p-fieldset legend="Ultimos Resultados" [toggleable]="true" *ngIf="caixa">
      <ion-grid>
        <ion-row text-center>
          <ion-col *ngFor="let cx of caixa" class="sorteioEvento">
             
                  <span>{{cx.concurso}}</span>
                  <ul>
                      <li *ngFor="let numeros of cx.resultado">{{numeros}}</li>  
                    </ul>
               
          </ion-col>
  


        </ion-row>
      </ion-grid>
    </p-fieldset>
<!-- 
    <p-fieldset legend="Ultimos Resultados" [toggleable]="true">
      <div *ngIf="caixa" class="concursos">
 
        <div *ngFor="let cx of caixa" class="sorteioEvento">
            <span>{{cx.concurso}}</span>
            <ul>
                <li *ngFor="let numeros of cx.resultado">{{numeros}}</li>  
              </ul>
          </div>
  
    </div>
    </p-fieldset>
 -->

 

    <button class="btn-ganhador" ion-button color="default" *ngIf="ganhadorOn" (click)="mostrarResultado(evento)" round>Ganhadores</button>
  <ion-item class="menu"*ngIf="evento"> 

    
    <div class="cabecalho">
        <div *ngIf="caixa">
            <h4 *ngIf="!ganhadorOn">Proximo Sorteio: {{proximoConcurso}}</h4>
        </div>
      
        <h2 *ngIf="ganhadorOn" style="color: red">Evento Finalizado</h2>
<!--       <h2>Numeros Sorteados</h2>
      <div id="num">
      <span text-wrap>{{evento.numeroSorteadoLoteria}}</span>
    </div> -->
      <h2>Total de Apostas:</h2>
      <h1>{{evento.qtdApostas}}</h1>
     
      <table>
        <th>Valor Premio</th>
        <th>Taxa de Entrada</th>

        <tr>
          <td>{{evento.vlrLiquido | currency:'BRL':true}}</td>
          <td>{{evento.vlrParticipacao | currency:'BRL':true}}</td>
        </tr>
      </table>
<br>
      <h1 *ngIf="apostador" style="color: green">Saldo: {{apostador.saldo | currency:'BRL':true}}</h1>
    </div>

  </ion-item>


  
 <!-- <ion-card *ngIf="evento" style="text-align: center;">
    <ion-card-header>
      <h1>Evento: {{evento.id}}</h1>
  
      <h1>{{evento.status}}</h1>
      <hr>
    </ion-card-header>
    <ion-card-content>
      <h2>Numeros Sorteados:</h2>
      <p> {{evento.numeroSorteadoLoteria}}</p>
      <hr>
  
      <h3>Total de Apostas: {{evento.qtdApostas}}</h3>
      <h3>Taxa de Entrada: {{evento.vlrParticipacao}}</h3>
      <h3>Valor Premiação: {{evento.vlrLiquido}}</h3>
      <hr>
      <h1 *ngIf="apostador">Saldo disponivel: R$ {{apostador.saldo}}</h1>
    </ion-card-content>
  </ion-card>-->


  <ion-grid>

    <ion-row>
      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
        <h2 class="msg" *ngIf="!btn_apostar">{{txt_msg_apostar}}</h2>
        <button ion-button class="apostar btn-apostar" *ngIf="btn_apostar" (click)="cadastroAposta(evento)" round>Realizar Aposta</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="verTodas" (click)="todasApostas(evento.id)">    
    <!-- <img src="../../assets/icon/globe-grid (2).png" alt=""> -->
    <span>Ver todas as apostas</span>
    <ion-icon class="icon-VerTudo" ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
  </div>

<hr>
  <div class="minhasApostas">
  
      <h2>Minhas Apostas</h2>
      <h1 *ngIf="!apostas" style="color: red">Você não possui apostas</h1>
    </div>

    <!--
  <ion-list>
    <div class="lista-aposta" ion-item *ngFor="let aposta of apostas" (click)="abrirModal(aposta)">
      <h2>Aposta nº: {{aposta.id}} Acertos: {{aposta.acertos}}</h2>

     
      <div class="numeros">
        <ul>
          <li *ngFor="let numeros of aposta.numero_apostado">{{numeros}}</li>
        </ul>
      </div>
      <span>Nº acertados</span>
      <div class="numeros acertados">
        <ul>
          <li *ngFor="let numeros of aposta.numeros_acertados">{{numeros}}</li>
        </ul>
      </div>

      <h4>Pressione para ver mais detalhes</h4>
    </div>
  </ion-list>
-->

<lista-aposta *ngIf="apostas" [listaApostas]="apostas"></lista-aposta>
</ion-content>