page-home {

    .numero li{
    display: inline-block;
    margin: 0 12px 0 0;   
    font-size: 1.8rem;
    color: #fff;
    background: #209869;
    border-radius: 35px;
    width: 30px;
    height: 30px;
    padding: 5px 0;
    text-align: center;
    }
}
