<ion-content>
<ion-card>
    <ion-card-header>
      Minhas Apostas
    </ion-card-header>
    <ion-card-content>
    
     
    </ion-card-content>

  
  </ion-card>
  <ion-list>
    <div class="lista-aposta" *ngFor="let aposta of apostas"> 
      
      <span>Aposta nº: {{aposta.id}}</span>
      
      <div class="numeros">
        <ul>   
          <li *ngFor="let numeros of aposta.numero_apostado">{{numeros}}</li> 
        </ul>
      </div> 
      <p>Nº acertados</p>
      <div class="numeros acertados">
        <ul> 
          <li *ngFor="let numeros of aposta.numeros_acertados">{{numeros}}</li> 
        </ul>
      </div> 
      Acertos: {{aposta.acertos}}
    <hr>
    </div>
  </ion-list>

</ion-content>