page-todas-apostas {
.download{
    font-size: 15px;
    text-align: center;  

}
.download #img-pdf{
    height: 50px;
    width: 50px;
}

.download p{  
    color: grey;
    margin-top: 0px;
}

.lista-aposta{
    padding: 5px;    
    border-radius: 25px;
    font-size: 25px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
}
}
